body{
    margin:0;
    padding:0;
    font-family: jost;
  }
  
  span{
    display: block;
    align-items: center;
    font-size: 35.2px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 500px;
    padding-right: 500px;
    background-color: white;
    color: black;
  }

  .p2{
    display: flex;
    align-items: center;
    font-size: 24px;
  }
  