body{
    margin:0;
    padding:0;
    font-family: jost;
  }

.sp1{
    margin: 180px;
    border-radius: 4px;
    display: block;
    align-items: center;
    font-size: 35.2px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 295px;
    padding-right: 290px;
    background-color: #4479d9;
    color: white;
  }

  .p3{
    display: center;
    align-items: center;
    font-size: 24px;
  }
  