body{
    margin:0;
    padding:0;
}

.di2 span{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 130px;
    padding-left: 50px;
    background-color: white;
    color: black;
  }
  
  .li3{
    font-family: jost;
    padding-left: 800px;
    font-size: 48px;
  }

  .li4{
    color: white;
  }
  
  .di2 input{
    display: inline;
    margin: 9.0px;
    padding-top: 20px;
    padding-right: 120px;
    padding-bottom: 20px;
    border: 3px solid black;
    border-radius: 4px;
    border-color: rgb(245, 245, 245);
    font-size: 28px;
    background-color: white;
  }

  .di2 p:hover button{
    background-color: #6592e6;
  }

  .di2 input:hover{
    border-color: #dce9ff;
  } 

  .di2 button{
    display: inline;
    padding-top: 10px;
    padding-right: 125px;
    padding-bottom: 10px;
    border-radius: 4px;
    border-color: #9ec0ff;
    background-color: #9ec0ff;
  }

  .di2 button p{
    padding-left: 115px;
  }
  