body{
    margin: 0;
    padding: 0;
    font-family: jost;
    background: white;
}

.header1{
    
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.header1 div{
    width: 100vw;
    height: 120vh;
    text-align: center;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color:white;
    border-radius: 10px;

}
.header1 h1{
font-size: 76px;
}

.header1 p{
    font-size: 24px;
    color:black;
}

.header1 span{
    color:red;
    background-color: white;
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 20px;
}

.header1 a{
    color: rgb(255, 83, 83);
}

.header1 span:hover a{
    color: red;
}